*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Custom Properties */

:root {

    --ff-primary: 'Ubuntu', sans-serif;
    --ff-secondary: 'Ubuntu Condensed', sans-serif;

    --fw-pri-bold: 500;
    --fw-pri-reg: 300;
    --fw-sec-reg: 400;

    --clr-dark: rgba(0, 0, 0);
    --clr-light: rgba(255, 255, 255);
    --clr-one: #7c7c7c;
    --clr-two: rgb(0, 48, 96);
    --clr-three: rgb(110, 26, 108);
}


/* General Styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-image: url(firewatch.jpg);
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
}

main {
    font-family: var(--ff-secondary);
}

/* Class Styles */

.user-form {
    width: 100%;
    max-width: 700px;
    display: flex;
}

.user-form input {
    width: 100%;
    display: block;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-family: var(--ff-primary);
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input:focus {
    outline: none;
}

.user-form button {
    height: inherit;
    font-size: var(--ff-primary);
    border-radius: 10px;
    border: none;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
    transition: 0.4s ease all;
}

.user-form button:hover {
    background-color: var(--clr-three);
    color: var(--clr-light);
}

.starcard {
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
    background: var(--clr-one);
    color: var(--clr-light);
    margin-top: 4em;
}

.starcard_avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 10px solid var(--clr-two);
} 

.starcard_user-info h2,
.starcard_repos {
    font-family: var(--ff-primary);
}

.starcard_user-info h2 {
    margin-top: 0;
}

.starcard_user-info ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.starcard_user-info ul li {
    display: flex;
    align-items: center;
}

.starcard_user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.starcard_user-info {
    margin-left: 2em;
}

.repos {
    text-decoration: none;
    color: var(--clr-light);
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    background-color: var(--clr-two);
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border-radius: 5px;
    transition: 0.4s ease all;
}

.repos:hover {
    background-color: var(--clr-three);
}

/* Mobile Styling */

@media(max-width: 500px) {
    .starcard {
        flex-direction: column;
        align-items: center;
    }

    .user-form {
        max-width: 400px;
    }
}